<header class="bg-color sticky top-0 h-[90px] shadow-xl z-30">
    <div class="container mx-auto flex justify-between h-full items-center">
        <a href="">
            <img src="images/icono_oficial.png" alt="Icono oficial del criadero Rancho Mariana" class="w-20">
        </a>

        <!-- Nav -->
        <nav class="lg:flex lg:justify-center lg:w-full">
            <!-- Nav mobile trigger -->
            <button (click)="toogleMenu()" class="cursor-pointer lg:hidden">
                <i class="ri-menu-line text-4xl text-white"></i>
            </button>

            <ul [ngClass]="{'h-0 overflow-hidden': !openMenu, 'h-auto p-4': openMenu}" 
                class="fixed w-full bg-color  lg:bg-transparent top-[90px] left-0 right-0 flex flex-col gap-4 
                lg:relative lg:flex-row lg:items-center lg:justify-center lg:w-auto lg:p-0 lg:top-0 
                lg:border-none lg:gap-8 lg:h-full transition-all duration-300 text-white items-center">
                <li class="lg:px-6 ">
                    <a routerLink="/home" routerLinkActive="border-b-2  " class="transition-colors duration-300 hover:text-[#E5C97C] hover:border-b-2">Inicio</a>
                </li>
                <li class="lg:px-6">
                    <a routerLink="/escuela" routerLinkActive="border-b-2" 
                    class="transition-colors duration-300 hover:text-[#E5C97C] hover:border-b-2">Escuela</a>
                </li>
                <li class="lg:px-6">
                    <a routerLink="/galeria" routerLinkActive="border-b-2" class="transition-colors duration-300 hover:text-[#E5C97C] hover:border-b-2" href="">Galería</a>
                </li>
                <li class="lg:px-6">
                    <a routerLink="/ejemplares" routerLinkActive="border-b-2" class="transition-colors duration-300 hover:text-[#E5C97C] hover:border-b-2" href="">Ejemplares</a>
                </li>
                <li class="lg:px-6">
                    <a routerLink="/contacto" routerLinkActive="border-b-2" class="transition-colors duration-300 hover:text-[#E5C97C] hover:border-b-2" href="">Contacto</a>
                </li>
            </ul>
        </nav>
    </div>
</header>





