<app-header></app-header>

<!-------------------------------HERO-------------------->
<div class="relative bg-heroescuela h-[84vh] w-full  bg-cover bg-center" >
    <div class="absolute inset-0 bg-primary bg-opacity-60 flex flex-col justify-center px-12">
      <h1 class="text-white text-center text-3xl lg:text-5xl font-light mb-2 tracking-wide animate-fade-in">
        ESCUELA DE CHALANERIA <span class="text-special"> RANCHO MARIANA</span>
      </h1>
  
      <div class="m-6 text-center">
        <p class="text-white text-3xl lg:text-4xl font-light mb-2 animate-fade-in">
          la chalaneria es un<br />
          <span class="text-special">arte</span> <br /> 
          y aqui lo <br />
          convertimos en<br />
          <span class="text-special">pasión</span> <br />
        </p>
      </div>
    </div>
  </div>


<!-------------------------------ACERCA-------------------->

<hero-section text="Conviertete en un gran chalán"></hero-section>

<div class="relative w-full h-[85vh] bg-primary  bg-cover bg-center flex flex-col">

  
      
    <h2 class=" mt-6 text-3xl text-center font-bold   text-special lg:text-2xl tracking-wide">Acerca de nosotros</h2>
    
   
    
  

  <div class="absolute inset-0 bg-primary/50 flex items-center justify-center px-4">
    <div class="max-w-2xl text-center text-white">
      <p class="text-sm lg:text-xl px-4 mb-4">
        Nuestra escuela de chalanería no se enfoca principalmente en solo aprender a montar un caballo, se trata de poder conectar profundamente con el equino, poder adquirir esa confianza, hacerles sentir seguridad con el espacio que conviven. 
        Así mismo, nuestros chalanes no solo montan caballos, sino que guían caballos a través de la conexión de corazón a corazón con las riendas.
      </p>
      <p class="text-sm lg:text-xl px-4 mb-4">
        En cuanto a nuestra escuela de formación, llevamos alrededor de 1 año, cultivando y cosechando experiencias y trofeos con nuestros alumnos. Hemos competido a nivel nacional en diferentes torneos de categoría infantil.
      </p>
      <p class="text-sm lg:text-xl px-4 mb-6">
        Nuestra meta es poder ser una de las mejores escuelas a nivel regional... etc, etc *completar.
      </p>
      <button class="text-white font-semibold py-2 px-6 rounded-full transition mt-6 bg-yellow-700 hover:bg-special">
        Inscríbete
      </button>
    </div>
  </div>
</div>


<!-------------------------------EQUIPO-------------------->

<div class="bg-primary p-7 flex flex-col items-center py-10 px-4">
   
  <div class="container mx-auto flex items-center justify-center">
    <div class="h-px bg-white w-full"></div>
    <div class="mx-8 text-center">
      <h1 class="text-special text-2xl md:text-3xl font-semibold">Nuestro Equipo</h1>  
    </div>
    <div class="h-px bg-white w-full"></div>
  </div>

  


  <div class="flex flex-col lg:flex-row lg:justify-between lg:items-start max-w-6xl mt-10 lg:gap-16 mx-auto">
    
    
    <div  class="mb-8 lg:mb-0 lg:w-1/2 flex flex-col items-center">
      
      <h2 class="text-3xl text-center font-semibold text-special mb-4 lg:order-2 lg:text-4xl">Alex Arias</h2>
      
      <img (click)="openModal(teamMembers[0])" src="images/alex_instructor.jpg" loading="lazy" alt="Alex montando un caballo" class="w-64 h-64 object-cover rounded-lg mb-6 lg:w-80 lg:h-80 lg:order-first cursor-pointer">
        
        <p class="text-[14px] lg:text-base text-white text-center lg:text-justify px-4 leading-relaxed lg:order-3 ">
          Instructor 
        </p>
    </div>

    
    <div class="flex flex-col items-center lg:w-1/2">
        
        <h2 class="text-3xl text-center font-semibold text-special mb-4 lg:order-2 lg:text-4xl">Paola Camero</h2>
        
        <img (click)="openModal(teamMembers[1])" src="images/paola_instructora.png" alt="Paola montando caballo" loading="lazy" class="w-64 h-64 lg:w-80 lg:h-80 object-cover rounded-lg mb-6 lg:order-first cursor-pointer">
        
        <p class="text-[14px] lg:text-base text-white text-center lg:text-justify px-4 leading-relaxed lg:order-3">
          Instructora
        </p>
    </div>
  </div>
  <app-card 
  [show]="showModal"
  [name]="selectedMember?.name"
  [image]="selectedMember?.image"
  [description]="selectedMember?.description"
  (close)="closeModal()">
  </app-card>
</div>


<!-------------------------------PRECIOS-------------------->

<div class="bg-primary text-white py-12 px-6 text-center">
  <h2 class="text-3xl font-semibold text-special mb-4">Tarifas</h2>
  <div class="w-16 border-t-2 border-white mx-auto mb-6"></div>

  <div class="max-w-lg mx-auto text-lg">
    <p class="mb-4">
      - <strong>Valor de matricula:</strong> 400.000 COP 
      <span class="text-gray-300 text-sm">(de los cuales 150.000 COP se pagan al año para póliza de seguros todo riesgo, 2 camisetas de uniforme, una de entrenamiento y otra de salidas).</span>
    </p>

    <p class="mb-4">
      - <strong>Mensualidad:</strong> 4 clases al mes 250.000 COP 
      <span class="text-gray-300 text-sm">(primera clase de cortesía).</span>
    </p>

    <p class="mb-4">
       - <strong>Clases extras:</strong> 50.000 COP
    </p>

    <p class="text-gray-400 text-base mb-4">
      Las clases tienen una duración de 1 hora. Puedes personalizar tu horario dentro del siguiente intervalo:
    </p>

    <p class="text-lg font-semibold text-special mb-6">
      Domingo a domingo: 9 am - 4 pm.
    </p>

    <p class="text-gray-300 text-base mb-6">
      ¡Comunícate con nosotros y empieza tu formación!
    </p>

    <div class="flex justify-center gap-4">
      <button class="bg-gray-600 hover:bg-gray-700 text-white py-2 px-6 rounded-lg transition duration-300">
        <a href="https://www.google.com/maps/@4.5802369,-74.344829,17.75z?authuser=0&entry=ttu&g_ep=EgoyMDI1MDQwMS4wIKXMDSoJLDEwMjExNDUzSAFQAw%3D%3D">Ubicación</a>
      </button>
      <button class=" bg-yellow-700 hover:bg-special text-white font-semibold py-2 px-6 rounded-lg shadow-md transition duration-300">
        Cotizar
      </button>
    </div>
  </div>
</div>





<app-footer></app-footer>

