<app-header></app-header>
   <!----------------------------HERO-------------------->

   <div class="relative bg-herogaleria h-[83vh] w-full  bg-cover " >
    <div class="absolute inset-0 bg-primary bg-opacity-60 flex flex-col justify-center px-12">
      <h1 class="text-white text-center text-1xl lg:text-2xl font-light mb-2 tracking-wide animate-fade-in">
        GALERIA DEL <span class="text-special"> RANCHO MARIANA</span>
      </h1>
  
      <div class="m-6 text-center">
        <p class="text-white text-3xl lg:text-5xl font-light mb-2 animate-fade-in">
          Capturando cada momento<br />
          <span class="text-special">especial</span> 
          y
          <span class="text-special">magico</span> <br/>
        </p>
      </div>
    </div>
  </div>


  <!-------------------------------SECCION DE GLAERIA-------------------->
  <hero-section text="Nuestras mejores fotos"></hero-section>


<div class="max-w-[1024px] bg-primary mx-auto px-4 py-10">
    <h2 class="text-3xl md:text-4xl font-bold text-center mb-4 text-white">Galería de imágenes</h2>
    <p class="text-white text-center max-w-2xl mx-auto mb-8">
      Algunos momentos y experiencias que hemos vivido en el criadero <span class="text-special"> Rancho Mariana</span>
    </p>
  
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <img src="/images/fantasticooficial.jpg" alt="Caballo 1" class="w-full h-auto object-cover rounded-lg shadow-md">
      <img src="/images/fantasticooficial.jpg" alt="Caballos corriendo" class="w-full h-auto object-cover rounded-lg shadow-md">
      <img src="/images/fantasticooficial.jpg" alt="Caballo frente a portón" class="w-full h-auto object-cover rounded-lg shadow-md">
      <img src="/images/fantasticooficial.jpg" alt="Establo" class="w-full h-auto object-cover rounded-lg shadow-md">
      <img src="/images/fantasticooficial.jpg" alt="Caballo con arnés azul" class="w-full h-auto object-cover rounded-lg shadow-md">
      <img src="/images/fantasticooficial.jpg" alt="Caballo en establo" class="w-full h-auto object-cover rounded-lg shadow-md">
      <img src="/images/fantasticooficial.jpg" alt="Equipo de equitación" class="w-full h-auto object-cover rounded-lg shadow-md">
      <img src="/images/fantasticooficial.jpg" alt="Caballo blanco" class="w-full h-auto object-cover rounded-lg shadow-md">
      <img src="/images/fantasticooficial.jpg" alt="Caballo blanco" class="w-full h-auto object-cover rounded-lg shadow-md">
      <img src="/images/fantasticooficial.jpg" alt="Caballo blanco" class="w-full h-auto object-cover rounded-lg shadow-md">
      <img src="/images/fantasticooficial.jpg" alt="Caballo blanco" class="w-full h-auto object-cover rounded-lg shadow-md">
    </div>
  </div>


  <app-footer></app-footer>