<app-header></app-header>

<!-------------------------------HERO-------------------->
<div class="relative bg-hero h-[84vh] w-full  bg-cover bg-center" >
  <div class="absolute inset-0 bg-primary bg-opacity-60 flex flex-col justify-center px-12">
    <h1 class="text-white text-center text-1xl lg:text-2xl font-light mb-2 tracking-wide animate-fade-in">
      PAGINA OFICIAL DEL <span class="text-special">CRIADERO RANCHO MARIANA</span>
    </h1>

    <div class="m-6 text-center">
      <p class="text-white text-3xl lg:text-5xl font-light mb-2 animate-fade-in">
        El bienestar<br />
        por nuestros<br />
        equinos es<br />
        la <span class="text-special">firma</span> de <br />
        nuestro<br />
        criadero.
      </p>
    </div>
  </div>
</div>

  <!-------------------------------MISION Y VISION-------------------->

<hero-section text="Nuestros objetivos son simples"></hero-section>

<div class="bg-primary p-6">
  
  <div class="flex flex-col lg:flex-row lg:justify-between lg:items-start max-w-6xl lg:gap-16 mx-auto">
    
    
    <div class="mb-8 lg:mb-0 lg:w-1/2 flex flex-col items-center">
      
        <h2 class="text-3xl text-center font-semibold text-special mb-4 lg:order-first lg:text-4xl">Misión</h2>
        
        <img src="images/fantasticooficial.jpg" alt="caballo Fantastico" class="w-64 h-64 object-cover rounded-lg mb-6 lg:w-80 lg:h-80 lg:order-2">
        
        <p class="text-[14px] lg:text-base text-white text-center lg:text-justify px-4 leading-relaxed lg:order-3 ">
            "En nuestro criadero, nos dedicamos a la cría, selección y entrenamiento de caballos de alta calidad, promoviendo el bienestar animal y el respeto por la naturaleza. Buscamos ofrecer ejemplares sanos, fuertes y con excelente genética, ideales para el deporte, el trabajo o la compañía. Nuestra pasión por los caballos se refleja en cada detalle, garantizando el mejor cuidado y desarrollo de cada uno de nuestros ejemplares."
        </p>
    </div>

    
    <div class="flex flex-col items-center lg:w-1/2">
        
        <h2 class="text-3xl text-center font-semibold text-special mb-4 lg:order-first lg:text-4xl">Visión</h2>
        
        <img src="images/finca2.jpg" alt="Herradura" class="w-64 h-64 lg:w-80 lg:h-80 object-cover rounded-lg mb-6 lg:order-2">
        
        <p class="text-[14px] lg:text-base text-white text-center lg:text-justify px-4 leading-relaxed lg:order-3">
            "Ser un referente en la cría y selección de caballos de alta calidad, reconocidos por nuestra excelencia genética, bienestar animal y compromiso con la preservación de razas. Buscamos innovar en el cuidado, entrenamiento y desarrollo de ejemplares, brindando a nuestros clientes caballos excepcionales que destaquen en el deporte, el trabajo y la compañía."
        </p>
    </div>
  </div>
</div>


  <!-------------------------------ESCUELA-------------------->


  <div class="bg-primary p-7 flex flex-col items-center py-10 px-4">
   
    <div class="container mx-auto flex items-center justify-center">
      <div class="h-px bg-white w-full"></div>
      <div class="mx-8 text-center">
        <h1 class="text-special text-2xl md:text-3xl font-semibold">Nuestra Escuela <br>Chalanería</h1>  
      </div>
      <div class="h-px bg-white w-full"></div>
    </div>
  
    
    <div class="mt-16 flex items-center justify-center text-center lg:text-2xl">
      <p class="text-white">La manera de conectar con nuestros equinos es conociendo de ellos.</p>
    </div>
  
    
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 mt-6 px-3">
      <img src="/images/image1_escuela.png" alt="Imagen 1" class="w-80 h-80 object-cover rounded-lg">
      <img src="/images/image2_escuela.png" alt="Imagen 2" class="w-80 h-80 object-cover rounded-lg">
      <img src="/images/image3_escuela.png" alt="Imagen 3" class="w-80 h-80 object-cover rounded-lg">
      <img src="/images/image4_escuela.png" alt="Imagen 4" class="w-80 h-80 object-cover rounded-lg">
    </div>
  
    
    <button routerLink="/escuela" class="mt-6 bg-yellow-700 hover:bg-special text-white font-semibold py-2 px-6 rounded-full transition">
      Conoce más
    </button>
  </div>


<app-footer></app-footer>

