<footer class="bg-color shadow-sm ">




    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-white sm:text-center ">© 2025 <a href="" class="hover:underline">Rancho Mariana</a>. Todos los derechos reservados.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-white sm:mt-0">
        <li>
            <a href="https://www.tiktok.com/@elranchodemariana?_t=ZS-8vEZYh7q6dR&_r=1" class="hover:underline hover:text-special me-4 md:me-6">Tik Tok</a>
        </li>
        <li>
            <a href="https://www.instagram.com/escuelachalaneriaranchomariana/" class="hover:underline hover:text-special me-4 md:me-6">Instagram</a>
        </li>
        <li>
            <a href="https://www.facebook.com/profile.php?id=100075573085458" class="hover:underline hover:text-special me-4 md:me-6">Facebook</a>
        </li>
        <li>
            <a href="https://www.google.com/maps/@4.5802369,-74.344829,17.75z?authuser=0&entry=ttu&g_ep=EgoyMDI1MDQwMS4wIKXMDSoJLDEwMjExNDUzSAFQAw%3D%3D" class="hover:underline hover:text-special">Ubicacion</a>
        </li>
    </ul>
    </div>
</footer>

